<h2 class='text-center card-title'>Edit your blog</h2>
<br />
<form class='form card-body' method="post">
    <div class='row'>
        <div class='col-md-2'></div>
        <fieldset class='col-md-8'>
            <label for='heading'>Heading</label>
            <input
                    class='form-control'
                    placeholder="tell us what it is about"
                    value="{{blog.heading}}"
                    type='text'
                    name='heading'
                    id='heading'
                    required />
        </fieldset>
    </div>
    <div class='row'>
        <div class='col-md-2'></div>
        <fieldset class='col-md-8'>
            <label for='body'>Content</label>
            <textarea
                    class='form-control'
                    placeholder="write whats on your mind"
                    name='body'
                    id='body'
                    required >
                {{blog.body}}
            </textarea>
        </fieldset>
    </div>
    <br />
    <div class='row'>
        <div class='col-md-6'></div>
        <div class='col-md-4'>
            <button class='btn btn-primary text-center' type='submit'>
                Create
            </button>
        </div>
    </div>
</form>