<h1 class="text-center">Welcome to absolute Blogs!</h1>
<p class="text-center">No 2FA, No wait time just sign up and start bloging</p>
<p class="text-center">Just here to read? no worry read until you no longer want to</p>

